@import "./variables";

.chargement {
  margin: 0;
  position: fixed;
  z-index: 999999;
  background: white;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  visibility: hidden;
  transition: visibility 3s;
  -moz-animation: chargement 300ms forwards;
  animation: chargement 300ms forwards;
}

@-moz-keyframes chargement{
  100%{
    opacity: 0;
    z-index: -5;
  }
}

@keyframes chargement{
  100%{
    opacity: 0;
    z-index: -5;
  } 
}

/* .chargement::after {
  content: "";
  visibility: hidden;
} 
*/

.loader1 {
  //display: initial;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  background-color: $couleur-primaire;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: -20px;
  border-radius: 50%;
  -moz-animation: move1 2000ms infinite;
  animation: move1 2000ms infinite;
}

@-moz-keyframes move1 {
  50% {
    left: 20px;
    z-index: 0;
  }
  51% {
    z-index: 2;
  }
  100% {
    left: -20px;
    z-index: 2;
  }
}

@keyframes move1 {
  50% {
    left: 20px;
    z-index: 0;
  }
  51% {
    z-index: 2;
  }
  100% {
    left: -20px;
    z-index: 2;
  }
}
.loader2 {
  height: 20px;
  width: 20px;
  background-color: $couleur-secondaire;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 20px;
  right: 0;
  border-radius: 50%;
  -moz-animation: move2 2000ms infinite;
  animation: move2 2000ms infinite;
}

@-moz-keyframes move2 {
  50% {
    left: -20px;
  }
  100% {
    left: 20px;
  }
}

@keyframes move2 {
  50% {
    left: -20px;
  }
  100% {
    left: 20px;
  }
}
